<h3 class="header">Amazon Scraper</h3>
<div id="buttons">
  <button class="btn" id="name-sort">Sort By Name</button>
  <button class="btn" id="price-sort">Sort By Price</button>
</div>
{{!-- <table id="results">
  <thead>
    <tr>
      <th id="name">Name</th>
      <th id="price">Price</th>
      <th id="image">Image</th>
      <th id="link">Link</th>
      <th id="addwishlist">Add To Wish List</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table> --}}

<ul>
  {{#each products}}
  {{/each}}
</ul>