.jumbotron {
  background-image: url(./img/christmas\ picture.gif);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 2rem;
}

#sort-buttons {
  text-align: center;
}

.view-button {
  text-align: right;
}